body {
    color: antiquewhite;
    text-align: center;
    background-color: #650582;
}
header {
    font: bold 32pt "Comic Sans MS";
    text-shadow: 4px 4px 8px rgba(238, 130, 238, 0.859);
}
section {
    font: bold 18pt "Comic Sans MS";
    text-align: left;
    background-color: rgb(253, 169, 234);
    color: black;
    border-radius: 30px;
    padding: 40px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 10px rgba(238, 130, 238, 0.859);
    text-shadow: 2px 2px 5px rgba(238, 130, 238, 0.859);
}
footer {
    font: italic 12pt "Comic Sans MS";
    color: rgba(238, 130, 238, 0.859);
    text-shadow: 2px 2px 6px white;
    margin-top: 50px;
}
div {
    .my-btns, .my-btns1, .my-btns2 {
        background-color: rgb(142, 44, 115);
        color: antiquewhite;
        font: bold 18pt "Comic Sans MS";
        text-align: center;
        width: 200px;
        margin-left: 44px;
        border-radius: 10px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 3px 3px 10px rgba(238, 130, 238, 0.859);
        text-shadow: 2px 2px 5px rgba(238, 130, 238, 0.859);
    }
    .my-btns2 {
        width: 120px;
        margin-left: 195px;
        border-radius: 1000px;
        background-color: rgb(252, 69, 236);
        margin-bottom: 20px;
    }
    }
    .my-btns:hover, .my-btns2:hover {
        background-color:rgb(207, 66, 167);
        transition: 0.7s;
    }
    .my-btns:focus, .my-btns2:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 4px orchid;
        transition: 0.7s;   
    }
select {
    margin: auto;
    margin-left: 95px;
    margin-top: 15px;
    background-color: rgb(255, 249, 255);
    font: bold 20pt "Comic Sans MS";
    text-shadow: 4px 4px 8px rgba(238, 130, 238, 0.859);
}