body {
    background-color: rgb(10, 33, 165);
    color: rgb(255, 255, 255);
    font: normal 20pt "Comic Sans MS";
    text-align: center;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.859);
    line-height: 1.5em;
}
section {
    background-color: rgb(102, 168, 199);
    box-shadow: 10px 10px 10px rgba(11, 0, 43, 0.859);
    border-radius: 30px;
    width: 550px;
    padding: 20px;
    margin: 40px auto;
    margin-bottom: 10px;
    text-align: center;
}
footer{
    margin-top: 50px;
    font: italic 16pt "Comic Sans MS";
}
